@charset "utf-8";
/* CSS Document */
body{background:#e6f7ba;}
.container{
	width:80%;
	margin:0 auto;
	background:#c32d1c;
	color:#112066b;
}
.container .nombre{float: right; width: 60%; }
.container .nombre h1,.container .nombre b , a{text-transform:uppercase;}
.container .nombre h1{font-size:200%;}
.container img {float:right; width:50%;}
.clear{clear:both;}
.container .links{width:100%; float: right; background:#11206b}
.container .links ul{list-style: none; margin: 0; padding:0;}
.container .links li{display:inline-block; text-align:center;}
.container .links li a{display:inline-block; padding: 18px 40px; margin:0px; color:#c32d1c; text-decoration: none;}
.container .links li a:hover{background:rgba(226,214,43,1.00); color:#c32d1c;}
.imagen1 { right:auto}
